<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body background="red">
    <div class="tail">
        <h2>Welcome to Flask Signup and Login setup</h2>
        <p>This is a Flask Demo Signup and Login Page created to test session handlings using flask framework.</p>
        <p>Flask is a light weight python web backend framework.</p>
    </div>
</body>
</html>